* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 161vh;
    width: 100wh;
    /* display: flex;
    flex-wrap: wrap; */
    background-image: url(../images/261-2617153_wallpaper-linear-brown-yellow-gradient-sandy-brown-light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
}
.heading{
    margin-left: 637px;
    font-size: 27px;
    padding-top: 32px;
}
.heading h1{
    color: rgb(255, 255, 255);
}

.box-container {
    width: 85%;
    margin: 50px 110px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 55px;
}

.box {
    box-shadow: 0px 0px 10px 0px rgb(90, 89, 89);
    border-radius: 20px;
    overflow: hidden;
    background: #e4e4e4;
}

.box:hover img {
    cursor: pointer;
    transition: 1s;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.image {
    height: 280px;
    overflow: hidden;
    width: 100%;
}

img {
    height: 100%;
    width: 100%;
   
    object-fit: cover;
}

.content {
    padding: 32px 10px;
    text-align: center;
}

.content h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: #616161;
}

.content p {
    margin: 16px 0px;
    font-size: 18px;
    color: #4d4b4b;
}

.content a {
   
    text-decoration: none;
    font-size: 20px;
    border: 2px solid rgb(240, 152, 51);
    color: rgb(61, 61, 61);
    border-radius: 2px;
    padding: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.content a:hover i {
    padding-left: 16px;
}

